body, input {
  color: #123;
  font-family: "Gill Sans", sans-serif;
}

div {
  overflow: hidden;
  padding: 1em 0;
  position: relative;
  
}

h1, h2, p, input, a {
  font-weight: 300;
  margin: 0;
}
h3{
  margin-left: 10px;
  color: rgb(87, 87, 87);
}

h1 {
  color: #007da3;
  font-size: 2.5em;
}

h2 {
  color: rgb(15, 185, 0);
}



input {
  border: 0;
  border-radius: 100px;
  box-shadow: inset 0 0 0 2px #0b8f88;
  display: inline;
  font-size: 1.5em;
  margin-bottom: 1em;
  outline: none;
  padding: .5em ;
  width: 55%;
}

form a {
  background: #0b8f88;
  border: 0;
  border-radius: 1000px;
  color: #FFF;
  font-size: 1.25em;
  font-weight: 400;
  padding: .75em 2em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: normal;
 
}

p {
  font-size: 1.5em;
  line-height: 1.5;
}